<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="C:\temp\NLog_Internal_ReutersDataGateway.log" internalLogLevel="Warn">

  <targets>
	<default-target-parameters xsi:type="File" encoding="UTF-8" deleteOldFileOnStartup="true" keepFileOpen="true"
                               openFileCacheTimeout="30" concurrentWrites="False" archiveNumbering="DateAndSequence"
                               archiveAboveSize="20000000" archiveDateFormat="yyyyMMdd" />
							   
	<target name="AsyncFileLog" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File" name="FileLog" fileName="${basedir}/InventoryLog/${date:format=yyyyMMdd}.log"
              layout="${date:format=HH\:mm\:ss.f} | ${level} -> ${message} ${onexception:inner=${newline}---------例外狀況開始---------${newline}${exception:format=ToString}${newline}---------例外狀況結束---------}"
			  archiveFileName="${basedir}/InventoryLog/{#}.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="7" />
    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AsyncFileLog" />
  </rules>
</nlog>